*,
*:before,
*:after {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: oldlace;
  width: 96vw;
  margin: 5px;
}
.custom-select {
  margin-left: auto;
  background-color: rgb(248, 247, 244);
}
.newsFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#article {
  background-color: oldlace;
  width: 60vw;
}
.articleInfo {
  display: flex;
  flex-direction: row;
}
.gifContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.gifContainer img {
  width: 400px;
  margin: 0px 10px 10px 10px;
  border-radius: 30px;
}
.publishInfo {
  margin-right: 20px;
}
