.background {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#article {
  background-color: oldlace;
  width: 60vw;
}

#header {
  width: 96vw;
  background-color: oldlace;
  text-align: center;
}
.articleInfo {
  display: flex;
  flex-direction: row;
}
.publishInfo {
  margin-right: 20px;
}
